<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title>Projector | Sign in</title>

	<script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}" />
	<script src="{{ asset('materialize/js/materialize.min.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body>
	<div id="signin" class="row">
		<div class="col s12 m6 offset-m3 l6 offset-l3">
			<form action="#" method="post">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Projector</span>
						<div class="row">
							<div class="input-field col s12">
								<input type="email" name="username" id="username" class="validate" minlength="5" maxlength="200" required/>
								<label for="username">Username</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="password" name="password" id="password" class="validate" minlength="7" maxlength="11" required/>
								<label for="password">Password</label>
							</div>
						</div>
					</div>
					<div class="card-action right-align">
						<input type="submit" class="waves-effect waves-light btn" value="Login">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>